<a href="https://colab.research.google.com/github/hannsjaspherelalto/OOP-1-2/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class Birds:
  def __init__(self,bird_name):
    self.bird_name = bird_name

  def flying_birds(self):
    print(f"{self.bird_name} flies above the sky")

  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

vulture = Birds("Vulture")
crane = Birds("Crane")
emu = Birds("Emumu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Vulture flies above the sky
Crane flies above the sky
Emumu is the national bird of the Philippines

In [13]:
class foo:
  def __init__(self,a,b):
    self.__a = a
    self.__b = b
  
  def add(self):
    return self.__a +self.__b

number = foo(3,4)
number.add()

number.a = 7
number.add()

7

In [12]:
class Counter:
  def __init__(self):
    self.__current = 0

  def increment(self):
    self.__current +=1
  def value(self):
    return self.__current
  def reset(self):
    self.__current = 0

num = Counter()

num.increment()
num.increment()
num.increment()

num.counter = 1


num.value()

3

In [15]:
class Person:
  def __init__(self, firstname,surname):
    self.firstname = firstname
    self.surname = surname

  def printname(self):
    print(self.firstname,self.surname)

person = Person("Ana", "Santos")
person.printname()

class Teacher(Person):
  pass

person2 = Teacher("Maria", "Sayo")
person2.printname()

class Student(Person):
  pass

person3 = Student("Hanns", "Elalto")
person3.printname()

Ana Santos
Maria Sayo
Hanns Elalto

In [10]:
class RegularPolygon:
    def __init__(self,side):
        self.side = side
class Square(RegularPolygon):
    def area(self):
        return self.side * self.side
class EquilateralTriangle(RegularPolygon):
    def area(self):
        return self.side * self.side * 0.433

object = Square(4)
print(object.area())

object2 = EquilateralTriangle(3)
print(object2.area())

16
3.897

In [71]:
class Person:
  def __init__(self, name, pre, mid, fin):
    self.__name = name
    self.__pre = pre
    self.__mid = mid
    self.__fin = fin
  def Grade(self):
    ave = 0
    ave = ((self.__pre + self.__mid + self.__fin)/3)
    print("Average   :" + str(round(ave,2)) + "\n" + ("-"*20))
#------------------------------------------------------#
class Student1(Person):
  pass

std1 = Student1((str(input("Name      : "))), 
                (float(input("Pre-finals: "))), 
                (float(input("Midterms  : "))),
                (float(input("Finals    : "))))
std1.Grade()
#------------------------------------------------------#
class Student2(Person):
  pass

std2 = Student2((str(input("Name      : "))), 
                (float(input("Pre-finals: "))), 
                (float(input("Midterms  : "))),
                (float(input("Finals    : "))))
std2.Grade()
#------------------------------------------------------#
class Student3(Person):
  pass

std3 = Student3((str(input("Name      : "))), 
                (float(input("Pre-finals: "))), 
                (float(input("Midterms  : "))),
                (float(input("Finals    : "))))
std3.Grade()

Name      : Hanns Jaspher
Pre-finals: 90
Midterms  : 89
Finals    : 78
Average   :85.67
--------------------
Name      : Jaspher Elalto
Pre-finals: 89
Midterms  : 100
Finals    : 67
Average   :85.33
--------------------
Name      : Elalto Hanns
Pre-finals: 80
Midterms  : 99
Finals    : 90
Average   :89.67
--------------------