<a href="https://colab.research.google.com/github/hannsjaspherelalto/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Classes and Objects

In [3]:
class MyClass:
  pass

In [4]:
class OOP1_2:
  x=5
  print(x)

5

In [25]:
#creating objects

class OOP1_2:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Hanns", 19)

print(person.name)
print(person.age)
print(person.identity)

Hanns
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f341075e650>>

In [26]:
#modifying object name

person.name = "Jaspher"
print(person.name)
print(person.age)

Jaspher
19

In [27]:
person.age = 246254
print(person.name)
print(person.age)

Jaspher
246254

In [28]:
#deleting objects

del person.name

In [29]:
print(person.name)

AttributeError: ignored

In [30]:
print(person.age)

246254

Application 1 - write a python program which computes the area of a square and names its class as square, and sides as attributes.

In [47]:
class Square:
  def __init__(self, sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides

  def display(self):
    print("The area is: ", self.area())

square = Square(4)

square.display()
square.area()

The area is:  16

16

Application 2 - write a python program that displays your full name, age, course, and school.
Create a class namned MyClass, and name, age, course, school as attributes.

In [58]:
class MyClass:
  def __init__(self, flname, age, course, school):
    self.flname = flname
    self.age = age
    self.course = course
    self.school = school

info = MyClass ("Hanns Jaspher A. Elalto", 19, "BSCpE", "CvSU")

print(info.flname + "\n" + str(info.age) + "\n" + info.course + "\n" + info.school)

Hanns Jaspher A. Elalto
19
BSCpE
CvSU